body {
  background-color: rgb(195, 230, 200) !important;
  font-family: 'Varela Round', sans-serif !important;
  color: black !important;
}

button:disabled {
  pointer-events: none;
}

/*
#####################
      Login Page
#####################
*/

#login-page, #mood-slider, #history-title {
  margin: auto;
  width: 50%;
  text-align: center;
  color: black;
}

#login-title {
  font-size: 50px;
  margin-top: .8em;
}

#login-note {
  font-size: 35px;
  margin: .8em 0 .8em 0;
}

#login-btn {
  height: 60px;
  font-size: 20px;
  border: 0 solid #1aa34a;
  color: #fff;
  background-color: #1aa34a;
  border-radius: 33px;
  padding: 8px 20px;
  outline: none;
  transition: background-color .5s;
  box-shadow: 0 0 15px 7px rgb(138, 198, 164)
}

#login-btn:hover {
  background-color: #1db954;
  cursor: pointer;
}

#login-btn img {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

#login-btn a {
  text-decoration: none;
  color: inherit;
}

/*
##################
      Header
##################
*/

#header {
  color: white;
  background-color: rgb(13, 35, 19);
}

#header-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#header-profile-pic {
  margin-top: 0.3em;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border: 0px transparent white;
  border-radius: 50%;
  float: right;
}

#header-title {
  padding: .2em 0 0 25px;
  font-size: 50px;
  color: #fff;
}

#header-name:hover {
  color: white;
}

#header-body:hover {
  font-weight: bold;
}

.popover-body {
  cursor: pointer;
}

#header-name, #logout {
  float: right;
  margin-right: 25px;
  padding-top: .6em;
  font-size: 24px;
  vertical-align: baseline;
  color: rgb(157, 157, 157);
  cursor: pointer;
}

#logout {
  cursor: pointer;
}

#logout:hover {
  color: #fff;
}

/*
#######################
    MoodSlider Page
#######################
*/

#mood-slider {
  margin-top: 30px;
  font-size: 20px;
  width: 400px;
}

#mood-title {
  font-size: 35px;
  margin-bottom: 15px;
}

#slider-btn {
  margin-top: 15px;
  height: 50px;
  font-size: 20px;
  border: 0 solid #1aa34a;
  color: #fff;
  background-color: #1aa34a;
  border-radius: 33px;
  padding: 8px 20px;
  outline: none;
  transition: background-color .5s;
  box-shadow: 0 0 15px 7px rgb(138, 198, 164)
}

#slider-btn:hover {
  cursor: pointer;
  background-color: #1db954;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: rgb(13, 35, 19) !important;
}

.table-responsive {
  padding-left: 15%;
  padding-right: 15%;
}

/*
########################
      History Page
########################å
*/

#history-title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 48px;
  text-decoration: underline;
}

#history-block .table, #loading-notice, #results-title {
  width: fill !important;
  max-width: fill !important;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

#loading-notice {
  margin-top: 50px;
  font-size: 40px;
}

/*
########################
      Results Page
########################
*/

#results {
  margin-top: 25px;
}

#results-title {
  font-size: 35px;
  margin-bottom: 15px;
}

#results-add-playlist {
  margin-bottom: 15px;
  margin-left: 25px;
  height: 50px;
  font-size: 20px;
  border: 0 solid #1aa34a;
  color: #fff;
  background-color: #1aa34a;
  border-radius: 33px;
  padding: 8px 20px;
  outline: none;
  vertical-align: .2em;
  transition: background-color .5s;
  box-shadow: 0 0 15px 7px rgb(138, 198, 164)
}

#results-add-playlist:hover {
  cursor: pointer;
  background-color: #1db954;
}

#results-grid {
  display: flex;
}

#results-grid>* {
  flex: 1 1 600px;
}

#results-container {
  height: 100vh;
  overflow: scroll;
  margin-left: 80px;
  margin-right: 80px;
}

.result-img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.result-info {
  display: inline-block;
  font-size: 18px;
  vertical-align: -.9em;
  margin-left: .5em;
}

.result-artists {
  color: rgb(126, 126, 126);
}

#spotify-embed {
  display: inline-block;
}

.modal-content {
  background: rgb(54, 101, 66) !important;
  color: white;
}

.modal-body {
  font-size: 20px !important;
}

#spotify-embed iframe {
  margin-left: 12%;
  text-align: center;
}

#result-explicit {
  display: inline-block;
  margin-left: 1em;
  color: red;
  font-size: 12px;
  border: 1px solid red;
  padding: 0 3px;
  vertical-align: .1em;
}